/*
--rich-black: #0d1b2aff;
--oxford-blue: #1b263bff;
--yinmn-blue: #415a77ff;
--white: #ffffffff;
--bittersweet: #ff6f59ff;

"0d1b2a","1b263b","415a77","ffffff","ff6f59"
*/

*{
    font-family: "Couriew New";
}
html {
    background-color: #415a77;
}
body {
    margin: 1em;
    padding: 0;
    background-color: #415a77;
    color: #0d1b2a;
}

article {
    width: 50%;
    margin: 2em auto;
}

button {
    background-color: #046aaa;
    color: white;
    padding: 10px 20px;
    margin: 5%;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

h3, span {
    text-align: center;
    margin: 1em;
    padding: 1em;
    text-decoration: none;
    font-size: 1.5em;
}

fieldset {
    border: none;
}

label {
    margin: 1em;
    padding: 1em;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    text-align: right;
}

input[type=text], input[type=password], input[type=email] {
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
}

table{
    border: 1px solid #0D1B2A;
    background-color: #b0bbd7;
    border-collapse: collapse;
    width: 50%;
}
td{
    border: 1px solid #0D1B2A;
    padding: 0.5em;
    text-align: center;
    border-collapse: collapse;
}

img{
    width: auto;
    height: auto;
    margin: 0.5em;
}
figure{
    float: left;
    position: relative;
}

.log_active{
    background-color: #046aaa;
    border: 5px solid #0D1B2A;
    font-weight: bold;
}

#hot_posts{
    border: 5px solid white;
}

