.topnav {
    position: relative;
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1.25em;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #046aaa;
    color: white;
}
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topnav-right {
    float: right;
}
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
    position: relative;
    color: whitesmoke;
  }
.dropdown-content {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,1);
    min-width: 160px;
    z-index: 1;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Centered section inside the top navigation */
@media screen and (max-width: 30em) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }
    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}
.posts {
    margin: 2em;
    padding: 1em;
    border: 0.25em solid black;
    background-color: #046aaa;
    text-align: center;
}

.post, .form-container {
    margin: 2em;
    padding: 1em;
    border: 0.25em solid black;
    background-color: #b0bbd7;
    text-align: center;
}

button {
    background-color: #046aaa;
    color: white;
    padding: 1em 2em;
    margin: 1em 0;
    border: none;
    cursor: pointer;
}

h3, span {
    text-align: center;
    margin: 1em;
    padding: 1em;
    text-decoration: none;
    font-size: 1.5em;
}
