/* post interaction css */

.post-interaction {
    margin: 1em
}

#upvote:hover {
    background-color: green;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

#downvote:hover {
    background-color: red;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

.votes {
    float: left;
    width: 50%;
    align-items: left;
    text-align: left;
    position: relative;
    padding: 0;
    /* margin: 0; */
}

.votes button {
    display: inline;
    border-radius: 50%;
    text-align: center;
}

.votes span {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

#upvotes, #downvotes {
    display: inline
}

.report_post {
    float: right;
    margin: 1em;
    font-size: 1.5em;
}

.comment_container {
    /* places below the vote and report buttons */
    clear: both;
    text-align: left;
    padding: 2em;
}

.comment {
    border: 1px solid #000;
    width: auto;
    padding: 1em;
    position: relative;
    background-color: #b0bbd7;
    color: #0d1b2a;
}

.comment_header{
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.comment_header span {
    margin: 0.5rem;
    padding: 0;
}

.comment_body {
    margin: 0.5rem;
}

.report_comment {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}

.comment_profile_pic {
    width: 1.5em;
    margin: auto;
    border-radius: 50%;
}

.comment_username {
    margin: 0.5rem;
}

@media only screen and (max-width: 75em) {
    .votes {
        display: flex;
        flex-direction: column;
    }
    #upvotes, #downvotes {
        display: block;
    }
}
