/* profile css */
.profile-posts {
    width: 75%;
    margin: 2em;
    padding: 1em;
    border: 0.25em solid black;
    background-color: #0d1b2a;
    color: #f2f2f2;
    text-align: center;
}
.edit_post {
    float: right;
}
.profile {
    width: 10%;
    padding: 1em;
    border: 0.25em solid black;
    background-color: #ff6f59;
    color: #f2f2f2;
    float: right;
    clear: both;
}
.profile h2 {
    margin-top: 0;
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#edit_profile_form {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    align-items: center;
}
#edit_profile_form p {
    display: block;
}
#edit_profile_form p div {
    display: block;
}
#edit_profile_form div button {
    padding: 0.5em;
    width: 80%;
    margin-top: 1em;
}
#edit_profile_button {
    margin: 1em auto;
    padding: 0%;
    width: 8em;
    align-items: center;
    display: block;
}
#edit_profile {
    display: block;
    margin: 0 auto;
    padding: 0%;
    width: 100%;
}
@media screen and (max-width: 55em) {
    .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile-posts {
        width: 90%;
        clear: both;
        float: none;
        margin: 1em;
        display: block;
    }
    .profile {
        padding: 1em;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .profile-pic {
        width: 30px;
        height: 30px;
    }
    #edit_profile_form {
        width: 60%;
        margin: 0 auto;
        display: flex;
        text-align: center;
        align-items: center;
    }
    #edit_profile_form div button {
        width: 90%;
    }
}
